<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82262156-1', 'florentinedrawings.itatti.harvard.edu');
  ga('send', 'pageview');

</script>

<div class="footer" style="background-color: #e6e6e3;position:absolute;width:100%;bottom:0;left:0;">
    <div class="container" style="padding-top:0.5rem; padding-bottom:0.5rem;">			
        <div class="row">
            <div class="col-md-5">
                <h6 style="color:#7c2617;margin-bottom:2px;"><b>PAGES</b></h6>
                <div>
                    <ul class="nav" style="list-style: none;margin-left:0;padding-left:0;">
                    <li><a style="padding-left:0;padding-top:3px;padding-bottom:3px;font-size:12px" href="/pages/background">Background</a></li>
                    <li><a style="padding-left:0;padding-top:3px;padding-bottom:3px;font-size:12px" href="/pages/credits">Credits</a></li>
                    <li><a style="padding-left:0;padding-top:3px;padding-bottom:3px;font-size:12px" href="http://data.itatti.harvard.edu" target="_blank">Data</a></li>
		    <li><a style="padding-left:0;padding-top:3px;padding-bottom:3px;font-size:12px" href="/contact-us">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-4">
                <a href="http://itatti.harvard.edu" target="_blank"><%= image_tag 'logoitatti.png', alt: 'Villa I Tatti'%></a>
                <div style="font-size:1.3rem;">©&nbsp;2016 The President and Fellows of Harvard College</div>
            </div>			
        </div>            
    </div>
</div>
</div>
