<div class="page-header">
  <h1>About</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Site Credits/Acknowledgements</h3></div>
  <div class="panel-body">

<p><em>Support<br /></em>Kress Foundation<br />Villa I Tatti: The Harvard University Center for Italian Renaissance Studies</p>
<p><em>Principal investigators<br /></em>Lukas Klic<br />Jonathan Nelson</p>
<p><em>Design, Methodology, Technical Advising<br /></em>Matt Miller<br />Cristina Pattuelli<br />Alexandra Provo</p>
<p><em>Web Development<br /></em>Lukas Klic<br />Matt Miller</p>
<p><em>Project Management<br /></em>Alexandra Provo</p>
<p><em>Data enrichment<br /></em>Carlos Acevedo<br />Alexandra Provo</p>
<p><em>Cataloging<br /></em>Sara Della Bianchina<br />Kelsey Garrison<br />Alice Parri</p>
<p><em>Interns<br /></em>Diana Ingerman<br />Sylvie Rubin-Budick</p>

</div>
