<div class="page-header">
  <h1>About</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Site Credits/Acknowledgements</h3></div>
  <div class="panel-body">

<p><b><em>Support<br /></em></b>Kress Foundation<br />Villa I Tatti: The Harvard University Center for Italian Renaissance Studies</p>
</div>
  <!-- List group -->
  <ul class="list-group">
  <li class="list-group-item"><b><em>Principal investigators<br /></em></b>Lukas Klic<br />Jonathan Nelson</li>
<li class="list-group-item"><b><em>Design, Methodology, Technical Advising<br /></em></b>Matt Miller<br />Cristina Pattuelli<br />Alexandra Provo</li>
<li class="list-group-item"><b><em>Web Development<br /></em></b>Lukas Klic<br />Matt Miller</li>
<li class="list-group-item"><b><em>Project Management<br /></em></b>Alexandra Provo</li>
<li class="list-group-item"><b><em>Data enrichment<br /></em></b>Carlos Acevedo</li>
<li class="list-group-item"><b><em>Cataloging<br /></em></b>Sara Della Bianchina<br />Kelsey Garrison<br />Alice Parri<br />Dominic Ferrante</li>
<li class="list-group-item"><b><em>Interns<br /></em></b>Diana Ingerman<br />Sylvie Rubin-Budick</li>
  </ul>

</div>
