<div class="row">

</div>

<div class="panel panel-default">

  <div class="panel-body">
     Bernard Berenson’s <i> Drawings of the Florentine Painters</i> is a digital resource based on Berenson’s publication of the same name. This research tool allows you to search for any of the drawings listed in the three editions (1903, 1938 in English; 1961, in Italian). Filters allow you to search Berenson’s information by artist, title (in English or Italian), location, and technique. Each entry includes key information from all three editions of Berenson’s text, as well as the current location, an image of the catalog page, and plates included in 1903; most entries also have links to museum webpages, including images.  For information about how the data was prepared, how to use the site, and for background on Berenson’s scholarship, see the <a href="/pages/background">About page</a>.
  </div>
</div>

<div class="page-header row">
  <h2 class="col-md-8 page-heading">Collection Highlights</h2>

</div>


<div class="row">
    <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
      <a href="?_=1470838443754&f%5Bsubject_topic_facet%5D%5B%5D=Michelangelo"><img class="img-circle" src="assets/michelangelo-140x140.png" alt="Generic placeholder image" width="140" height="140"></a>
     <h2>Michelangelo</h2>
     <p><a class="btn btn-default" href="?_=1470838443754&f%5Bsubject_topic_facet%5D%5B%5D=Michelangelo" role="button">473 records »</a></p>
  </div>
    <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
      <a href="?_=1470839350164&f%5Bsubject_topic_facet%5D%5B%5D=Fra+Bartolommeo"><img class="img-circle" src="assets/frabartolommeo-140x140.png" alt="Generic placeholder image" width="140" height="140"></a>
     <h2>Fra Bartolommeo</h2>
     <p><a class="btn btn-default" href="?_=1470839350164&f%5Bsubject_topic_facet%5D%5B%5D=Fra+Bartolommeo" role="button">422 records »</a></p>
  </div>
    <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
        <a href="?_=1470839350164&f%5Bsubject_topic_facet%5D%5B%5D=Leonardo+da+Vinci"><img class="img-circle" src="assets/leonardo-140x140.png" alt="" width="140" height="140"></a>
        <h2>Leonardo</h2>
        <p>
            <a class="btn btn-default" href="?_=1470839350164&f%5Bsubject_topic_facet%5D%5B%5D=Leonardo+da+Vinci" role="button">364 records »</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
        <a href="?_=1470839350164&f%5Bsubject_topic_facet%5D%5B%5D=Filippino+Lippi"><img class="img-circle" src="assets/lippi-140x140.png" alt="" width="140" height="140"></a>
        <h2>Filippino Lippi</h2>
        <p><a class="btn btn-default" href="?_=1470839350164&f%5Bsubject_topic_facet%5D%5B%5D=Filippino+Lippi" role="button">188 records »</a></p>
    </div>
            <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
        <a href="?_=1470839350164&f%5Bsubject_topic_facet%5D%5B%5D=Andrea+del+Sarto"><img class="img-circle" src="assets/delsarto-140x140.png" alt="" width="140" height="140"></a>
    <h2>Andrea Del Sarto</h2>
    <p><a class="btn btn-default" href="?_=1470839350164&f%5Bsubject_topic_facet%5D%5B%5D=Andrea+del+Sarto" role="button">152 records »</a></p>
  </div>
    <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
        <a href="?_=1470838443756&f%5Bsubject_topic_facet%5D%5B%5D=Sandro+Botticelli"><img class="img-circle" src="assets/sandrobotticelli-140x140.png" alt="" width="140" height="140"></a>
        <h2>Botticelli</h2>
        <p>
            <a class="btn btn-default" href="?_=1470838443756&f%5Bsubject_topic_facet%5D%5B%5D=Sandro+Botticelli" role="button">39 records »</a>
        </p>
    </div>

    
</div>
<div class="row">
    <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
        <a href="?f%5Bowner_facet%5D%5B%5D=Gabinetto+disegni+e+stampe+degli+Uffizi+%28Florence%29"><img class="img-circle" src="assets/uffizi-140x140.png" alt="" width="140" height="140"></a>
        <h2>Uffizi Gallery</h2>
        <p>
            <a class="btn btn-default" href="?f%5Bowner_facet%5D%5B%5D=Gabinetto+disegni+e+stampe+degli+Uffizi+%28Florence%29" role="button">1594 records »</a>
        </p>
    </div>
    <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
      <a href="?f%5Bowner_facet%5D%5B%5D=Musée+du+Louvre+%28Paris%29"><img class="img-circle" src="assets/louvre-140x140.png" alt="Generic placeholder image" width="140" height="140"></a>
     <h2>Musée du Louvre</h2>
     <p><a class="btn btn-default" href="?f%5Bowner_facet%5D%5B%5D=Musée+du+Louvre+%28Paris%29" role="button">389 records »</a></p>
  </div>
        <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
        <a href="?f%5Bowner_facet%5D%5B%5D=British+Museum+%28London%29"><img class="img-circle" src="assets/british-museum-140x140.png" alt="" width="140" height="140"></a>
    <h2>British Museum</h2>
    <p><a class="btn btn-default" href="?f%5Bowner_facet%5D%5B%5D=British+Museum+%28London%29" role="button">305 records »</a></p>
  </div>         
      

</div>
<div class="row">
    <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
      <!-- Image Michelangelo 0001469-Berenson -->
      <a href="?f%5Btechnique_facet%5D%5B%5D=black+chalk"><img class="img-circle" src="assets/black-chalk.png" alt="Generic placeholder image" width="140" height="140"></a>
     <h2>black chalk drawings</h2>
     <p><a class="btn btn-default" href="?f%5Btechnique_facet%5D%5B%5D=black+chalk" role="button">981 records »</a></p>
  </div>
    <div class="col-md-4" style="text-align:center; margin-bottom:35px;">
        <!-- Image Leonardo 0001034-Berenson -->
        <a href="?f%5Btechnique_facet%5D%5B%5D=red+chalk"><img class="img-circle" src="assets/red-chalk2.png" alt="" width="140" height="140"></a>
        <h2>red chalk &nbsp;&nbsp;drawings</h2>
        <p><a class="btn btn-default" href="?f%5Btechnique_facet%5D%5B%5D=red+chalk" role="button">822 records »</a></p>
    </div>
<div class="col-md-4" style="text-align:center; margin-bottom:35px;">
      <a href="?f%5Btechnique_facet%5D%5B%5D=metalpoint+%28technique%29"><img class="img-circle" src="assets/metalpoint.png" alt="" width="140" height="140"></a>
    <h2>metalpoint drawings</h2>
    <p><a class="btn btn-default" href="?f%5Btechnique_facet%5D%5B%5D=metalpoint+%28technique%29" role="button">608 records »</a></p>
  </div>
</div>


