/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* change the nav and search background color */

.navbar-default{
	background-color: #f3f3f1;
}

.navbar-inverse{
	background-color: #e6e6e3;
	border: none;
}
.navbar-header{
	position: relative;
}
#logo-text{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: absolute;
    width: 500px;
    top: 5px;
    left: 50px;
    font-family: serif;
    color: #333333 !important;
}
