/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* change the nav and search background color */

.navbar-default{
	background-color: #f3f3f1;
}

.navbar-inverse{
	background-color: #e6e6e3;
	border: none;
}
.navbar-header{
	position: relative;
}
#logo-text{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: absolute;
    top: 5px;
    left: 50px;
    font-family: serif;
    color: #333333 !important;
}
#header-navbar{
	height:75px;
	padding:5px;
}

#openseadragon{
	width: 450px;
	height: 575px;
}
@media screen and (min-width:900px) and (max-width:1200px) {
	#openseadragon{
		width: 400px;
	}
}

@media screen and (min-width:100px) and (max-width:450px) {
	#openseadragon{
		width: 350px;
	}
}
@media screen and (min-width:100px) and (max-width:525px) {
	.navbar-header img{
		width: 300px;
		height: auto;
	}

}




#main-image-link, #openseadragon{
	display: none;
}

#main-image-label{
	margin: 10px 0px 10px 0px;
}

.document .page-image{
	max-width: 375px;
	height: auto;
}
.data-table{
	font-size: 85%;
}
.twitter-typehead .twitter-typehead{
	display:none !important;
}

#documents .document .document-thumbnail{
float:left;
width: 20%;


}

.document-thumbnail img {
width: 100%;
}


.document {
overflow:hidden;
}







.document-metadata {

float:left;

}


img {
  line-height: 2;
  text-align: center;
}

img:after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
